/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles here */

.anime {
  animation-name: hey;
  animation-iteration-count: infinite;
  animation-duration: 1000ms;
}

@keyframes hey {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.active {
  background-color: rgba(170,207,250,0.3);
  font-weight: 600;
  border-radius: 12px;
}
